.gb-container .wp-block-image img {
    vertical-align: middle;
  }
  .gb-container .gb-shape {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    line-height: 0;
  }
  .gb-container .gb-shape svg {
    fill: currentColor;
  }
  .gb-container-d0faceaf {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #000;
  }
  .gb-container-546b2d51 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gb-container-bbdb6d11 {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: relative;
    margin-bottom: 5px;
    border: #fff;
  }
  .gb-container-529aba1d {
    margin-bottom: 15px;
  }
  .gb-container-563dfa25 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
  }
  .gb-container-026000ae {
    width: 400px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .gb-container-404276c1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--base-3);
  }
  .gb-container-ecd2c5f5 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding: 0 0 8px;
    border-radius: 0;
    border-top: 0 solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
    border-left: 0 solid #f1f1f1;
  }
  .gb-container-eb78a362 {
    width: 20px;
  }
  .gb-container-a66eda37 {
    width: 70%;
  }
  .gb-container-3a7ea4e4 {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .gb-container-d3378ef2 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding: 0 0 8px;
    border-radius: 0;
    border-top: 0 solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
    border-left: 0 solid #f1f1f1;
  }
  .gb-container-5f26501d {
    width: 20px;
  }
  .gb-container-e58a9b06 {
    width: 70%;
  }
  .gb-container-f55b009d {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .gb-container-5fcde9cf {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding: 0 0 8px;
    border-radius: 0;
    border-top: 0 solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
    border-left: 0 solid #f1f1f1;
  }
  .gb-container-5eac5d39 {
    width: 20px;
  }
  .gb-container-6f0b6591 {
    width: 70%;
  }
  .gb-container-cf7e28e3 {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .gb-container-12e0d452 {
    width: 400px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .gb-container-32763b1d {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--base-3);
  }
  .gb-container-90de8fab {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding: 0 0 8px;
    border-radius: 0;
    border-top: 0 solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
    border-left: 0 solid #f1f1f1;
  }
  .gb-container-c9e253fb {
    width: 20px;
  }
  .gb-container-a2b30804 {
    width: 70%;
  }
  .gb-container-94c5a996 {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .gb-container-0013b1db {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding: 0 0 8px;
    border-radius: 0;
    border-top: 0 solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
    border-left: 0 solid #f1f1f1;
  }
  .gb-container-ac03f39f {
    width: 20px;
  }
  .gb-container-cefe71db {
    width: 70%;
  }
  .gb-container-2af1f50c {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .gb-container-2984d2e6 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding: 0 0 8px;
    border-radius: 0;
    border-top: 0 solid #f1f1f1;
    border-right: 0 solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
    border-left: 0 solid #f1f1f1;
  }
  .gb-container-2ea8346b {
    width: 20px;
  }
  .gb-container-3a0d2b7b {
    width: 70%;
  }
  .gb-container-f46dcd1a {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .gb-block-image img {
    vertical-align: middle;
  }
  .gb-image-10428199 {
    border-radius: 100px;
  }
  .gb-image-257efc05 {
    width: 100%;
  }
  .gb-image-e0f7ef0f {
    width: 100%;
  }
  .gb-image-2df9b4b3 {
    width: 100%;
  }
  .gb-image-4dfc6051 {
    width: 100%;
  }
  .gb-image-15741e35 {
    width: 100%;
  }
  .gb-image-cd2aa8ca {
    width: 100%;
  }
  .gb-icon svg {
    fill: currentColor;
  }
  .gb-highlight {
    background: 0 0;
    color: unset;
  }
  h2.gb-headline-9e4f0c64 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2px;
  }
  p.gb-headline-3e911cc5 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
  }
  h2.gb-headline-a6fdc3bd {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 20px;
    color: #a0a0a0;
  }
  h2.gb-headline-2afaf447 {
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2.gb-headline-2afaf447 a {
    color: var(--contrast);
  }
  h2.gb-headline-2afaf447 a:hover {
    color: var(--contrast);
  }
  h2.gb-headline-77b5a525 {
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2.gb-headline-77b5a525 a {
    color: var(--contrast);
  }
  h2.gb-headline-77b5a525 a:hover {
    color: var(--contrast);
  }
  h2.gb-headline-5176bc94 {
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2.gb-headline-5176bc94 a {
    color: var(--contrast);
  }
  h2.gb-headline-5176bc94 a:hover {
    color: var(--contrast);
  }
  h2.gb-headline-8a0af871 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 20px;
    color: #a0a0a0;
  }
  h2.gb-headline-a84245bf {
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2.gb-headline-a84245bf a {
    color: var(--contrast);
  }
  h2.gb-headline-a84245bf a:hover {
    color: var(--contrast);
  }
  h2.gb-headline-25f197f3 {
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2.gb-headline-25f197f3 a {
    color: var(--contrast);
  }
  h2.gb-headline-25f197f3 a:hover {
    color: var(--contrast);
  }
  h2.gb-headline-8eefb80f {
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2.gb-headline-8eefb80f a {
    color: var(--contrast);
  }
  h2.gb-headline-8eefb80f a:hover {
    color: var(--contrast);
  }
  .gb-button {
    text-decoration: none;
  }
  .gb-icon svg {
    fill: currentColor;
  }
  .gb-button-8688a7c6 {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5em;
    color: var(--contrast-2);
  }
  .gb-button-8688a7c6:hover,
  .gb-button-8688a7c6:active,
  .gb-button-8688a7c6:focus {
    color: var(--contrast-2);
  }
  .gb-button-8688a7c6 .gb-icon {
    line-height: 0;
  }
  .gb-button-8688a7c6 .gb-icon svg {
    width: 1em;
    height: 1em;
  }
  a.gb-button-a6168df2 {
    display: inline-flex;
    font-size: 12px;
    padding: 4px 20px;
    background-color: #0366d6;
    color: #fff;
  }
  a.gb-button-a6168df2:hover,
  a.gb-button-a6168df2:active,
  a.gb-button-a6168df2:focus {
    background-color: #222;
    color: #fff;
  }
  a.gb-button-614d398f {
    display: inline-flex;
    font-size: 12px;
    padding: 4px 20px;
    background-color: #0366d6;
    color: #fff;
  }
  a.gb-button-614d398f:hover,
  a.gb-button-614d398f:active,
  a.gb-button-614d398f:focus {
    background-color: #222;
    color: #fff;
  }
  a.gb-button-75fcdc8f {
    display: inline-flex;
    font-size: 12px;
    padding: 4px 20px;
    background-color: #0366d6;
    color: #fff;
  }
  a.gb-button-75fcdc8f:hover,
  a.gb-button-75fcdc8f:active,
  a.gb-button-75fcdc8f:focus {
    background-color: #222;
    color: #fff;
  }
  a.gb-button-e07b5819 {
    display: inline-flex;
    font-size: 12px;
    padding: 4px 20px;
    background-color: #0366d6;
    color: #fff;
  }
  a.gb-button-e07b5819:hover,
  a.gb-button-e07b5819:active,
  a.gb-button-e07b5819:focus {
    background-color: #222;
    color: #fff;
  }
  a.gb-button-e05cda79 {
    display: inline-flex;
    font-size: 12px;
    padding: 4px 20px;
    background-color: #0366d6;
    color: #fff;
  }
  a.gb-button-e05cda79:hover,
  a.gb-button-e05cda79:active,
  a.gb-button-e05cda79:focus {
    background-color: #222;
    color: #fff;
  }
  a.gb-button-b892be35 {
    display: inline-flex;
    font-size: 12px;
    padding: 4px 20px;
    background-color: #0366d6;
    color: #fff;
  }
  a.gb-button-b892be35:hover,
  a.gb-button-b892be35:active,
  a.gb-button-b892be35:focus {
    background-color: #222;
    color: #fff;
  }
  @media (max-width: 767px) {
    .gb-container-d0faceaf {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .gb-container-026000ae {
      width: 90%;
    }
    .gb-grid-wrapper > .gb-grid-column-026000ae {
      width: 90%;
    }
    .gb-container-12e0d452 {
      width: 90%;
    }
    .gb-grid-wrapper > .gb-grid-column-12e0d452 {
      width: 90%;
    }
    h2.gb-headline-a6fdc3bd {
      font-size: 16px;
    }
    h2.gb-headline-8a0af871 {
      font-size: 16px;
    }
  }
  